.container {
	width:800px;
	margin:0px auto;
}

.satu {
	margin-top:50px;
	width:200px;
	height:200px;
	background-color:#2ECC71;

	border:solid;
	border-image-source:url("images/hearts.png");
	border-image-width:20px;
	border-image-slice:20 22;
	border-image-outset:20px;
	border-image-repeat:round;

	box-shadow:30px 30px;
}

.dua {
	margin-top:50px;
	width:200px;
	height:200px;
	background-color:blue;

	border:solid;
	border-image:url("images/border1.png");
	border-image-width:25px;
	border-image-slice:33%;
	border-image-outset:25px;
	border-image-repeat:round;

	box-shadow:20px 20px 10px #839192;
}